body {
    background-color: rgb(123, 179, 187);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    color: black;
}

input, select {
    width: 150px; 
    padding: 10px; 
    margin: 5px; 
    border: 2px solid #000; 
    border-radius: 8px; 
    font-size: 1em; 
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}


#listaCarros {
    list-style: none; 
    padding: 0;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Editar a tabela */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-editar, .btn-excluir {
    border: none;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.btn-editar {
    background-color: #28a745;
    color: white;
}

.btn-excluir {
    background-color: #dc3545;
    color: white;
}
